/* shared styles */

/* Fonts */
.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/* Buttons styles */
.btn-primary{
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    padding: 15px 48px 15px 48px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    background: linear-gradient(to right, #6a11cb, #2575fc); 
}

.btn-primary:hover {
  background: linear-gradient(to right, #ac83d5, #0905f5); /* hover gradient */
}

/* Shared Styles end */



/* header styles */
.header{
    background-image: url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
    margin-bottom: 0;
}

/* navigation styles */
nav {
    display: flex;
    margin: 0 150px;
    justify-content: space-between;
    gap: auto;
    margin-bottom: 158px;
    padding: 50px 0px;
    align-items: center;
}

.container{
    text-align: center; 
    margin: 0 268px;
    justify-content: center;
}

.title-primary{
    color: #4e47ff;
    font-weight: 800;
    font-size: 38px;
}

.title-banner{
    font-size: 65px;
    font-weight: 700;
    text-align: center;
}


.btn-banner{
       align-content: center;
       margin-bottom: 150px;
}
/* header styles end */



body {
  margin: 0;
  padding: 0;
}



/* main part styles */
main{
    background-color: #f5f8ff;
      margin-top: 0;

}




/* Action Section */
.action{
    display: flex;
    margin: 0px 240px 115px 240px;
    padding-top: 150px;
    gap: 310px;
    justify-content: space-between;

}
.action-img{
    border-radius: 45px;
}
.action-title{
    font-weight: 700;
    font-size: 46px;
}
.action-subtitle{
    font-weight: 200;
    font-size: 32px;
}


/* Productive Users Section */
.user{
    margin: 10px 240px 80px 240px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 30px;
}

.user-title{
    font-weight: 700;
    font-size: 42px;
    padding: 40px 50px 0px 50px;
    text-align: center;
}
.blocks{
    margin: 0px 0px 70px 0px;
    display: flex;
    justify-content: space-evenly;
}
.block{
    margin: 10px 0px 65px 15px;
    padding: 10px;
    text-align: center;
}
.user-header{
    color: #4e47ff;
    font-weight: 700;
    font-size: 95px;
}
.user-subtitle{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 22px;
}



/* Users’ Feedback Section */
.feedbacks {
  background-color: #f5f8ffd0;
  margin: 10px 240px 80px 240px;
  padding: 60px 20px;
  text-align: center;
}

.feedback-title{
    font-weight: 700;
    font-size: 46px;
}

.feedback-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.feedback-card {
  background: rgba(255, 255, 255, 0.762);
  padding: 20px;
  border-radius: 12px;
  max-width: 400px;
  text-align: left;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.stars {
  display: flex;
  gap: 4px;
  margin-bottom: 10px;
}

.stars img {
  width: 16px;  
  height: 16px;
  object-fit: contain;
}

.feedback-card h3 {
  font-size: 26px;
  font-weight: bold;
  margin: 0 0 7px;
}

.feedback-card p {
  font-size: 20px;
  color: #444;
  margin-bottom: 20px;
  font-weight: 400;
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviewer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.reviewer strong {
  font-size: 16px;
  color: #676767;
  margin-bottom: 4px;
}

.reviewer .date {
  font-size: 13px;
  color: #999;
}



/* Let’s Get In Touch Section  */
.touch-title{
    font-weight: 700;
    font-size: 110px;
}

.touch{
    display: flex;
    margin: 10px 240px 130px 240px;
    gap: 160px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 70px;
}

.contact-form {  
  padding: 20px;
  width: 700px;
  margin: 20px auto;
}
.contact-form label {
  font-weight: 600;
  display: block;
  margin: 12px 0 4px;
  font-size: 16px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
}

.contact-form textarea {
  height: 100px;
  resize: vertical;
}

.contact-form button {
  margin-top: 16px;
  padding: 14px;
  width: 100%;
  cursor: pointer;
  transition: background 0.3s ease;
}



/* Footer Section */
.footer-div{
    margin: 80px 450px;
    text-align: center;
}
.footer-title{
    font-size: 90px;
}

.footer-subtitle{
    font-weight: 300;
    font-size: 14px;
    max-width: 600px;
    margin: 0 auto ;
    color: #444;
}

.footer-nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 14px;
}

.footer-nav a {
  color: #666;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: #3a37ff;
}