.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.header{
    background-image: url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
}

nav {
    display: flex;
    margin: 0 150px;
    justify-content: space-between;
    gap: auto;
    margin-bottom: 158px;
    padding: 50px 0px;
}
.title-primary{
    color: #4e47ff;
    font-weight: 800;
    font-size: 38px;
}
nav{
    align-items: center;
}

.title-banner{
    font-size: 65px;
    font-weight: 700;
    text-align: center;
}
.btn-primary{
    background-color: #4e47ff;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    padding: 15px 48px 15px 48px;
    border-radius: 15px;
    border: none;
}
.btn-banner{
       align-content: center;
       margin-bottom: 150px;
}
.container{
    text-align: center; 
    margin: 0 268px;
    justify-content: center;
}


.action{
    display: flex;
    margin: 115px 240px 115px 240px;
    gap: 310px;
    justify-content: space-between;

}
.action-img{
    border-radius: 45px;
}
.action-title{
    font-weight: 700;
    font-size: 46px;
}
.action-subtitle{
    font-weight: 200;
    font-size: 32px;
}

.user{
    margin: 10px 240px 130px 240px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 30px;
}

.user-title{
    font-weight: 700;
    font-size: 42px;
    padding: 40px 50px 0px 50px;
    text-align: center;
}
.blocks{
    margin: 0px 0px 70px 0px;
    display: flex;
    justify-content: space-evenly;
}
.block{
    margin: 10px 0px 65px 15px;
    padding: 10px;
    text-align: center;
}
.user-header{
    color: #4e47ff;
    font-weight: 700;
    font-size: 95px;
}
.user-subtitle{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: large;
}